<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <link rel="manifest" href="./app.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet"
    />
    <script
    src="https://kit.fontawesome.com/f5ed80d948.js"
    crossorigin="anonymous"
    ></script>
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <meta name="description" content="Explore Nusantara Foods Restaurant" />
    <meta name="theme-color" content="#DC1414" />
    <title>Nusantara Foods</title>
  </head>
  <body>
    <a href="#mainContent" class="skip-link">Skip To Content</a>
    <my-navbar></my-navbar>
    <my-hero></my-hero>
    <main>
      <section id="mainContent" tabindex="0"></mai>
      </main>
    <my-footer></my-footer>
  </body>
</html>
