* {
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: grid;
  grid-template-columns: 1fr auto;
  padding-inline: 2rem;
  margin-top: -1rem;
  position: sticky;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #dc1414;
}

.NavMenu {
  font-size: 32px;
  padding: 10px;
  cursor: pointer;
}

ul {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ffffff;
  padding: 15px 30px;
}

li a {
  background-color: #ffffff;
  z-index: 1;
  color: #dc1414;
  border-radius: 3px;
  position: relative;
  display: inline-block;
  outline: none;
  font-weight: bold;
  transition: color 0.3s ease, background-color 0.3s ease;
}

li a::after {
  position: absolute;
  border: none;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #dc1414;
  transition: height 0.3s ease, top 0.3s ease;
}

li a:hover {
  color: #ffffff;
  font-weight: bold;
}

li a:hover::after {
  top: auto;
  bottom: 0;
  height: 100%;
}

li  a:active,
li  a:focus {
  top: 2px;
  position: relative;
  background-color: #dc1414;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  color: #ffffff;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../public/images/heros/hero-image.jpg'); 
  background-image: image-set(
    url('../public/images/heros/hero-image.jpg') 1x,
    url('../public/images/heros/hero-image.jpg') 2x
  );
  background-size: cover;
  background-position: center;
  min-height: 380px;
  width: 100%;
}

.overlay {
  position: unset;
  width: 100%;
  height: 380px;
  background-color: #560000ab;
}
.hero h2 {
  padding: 5rem;
  text-align: center;
  position: unset;
  color: #fff;
  padding-top: 10rem;
  
}
.skip-link {
  position: absolute;
  top: -50px;
  left: 0;
  background-color: #dc1414;
  color: white;
  padding: 15px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-inline: 1rem;
  background-color: #fffeee;
}

main h2 {
  text-align: center;
  padding-block: 2rem;
}

a.cards {
  padding: 0;
  cursor: pointer;
  border: 0;
}

.card {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 2rem;
  flex-wrap: wrap;
}

.cards {
  width: 20rem;
  background-color: #fff;
  border: 1px solid red;
}

.cards:hover,
.cards:focus {
  background-color: #dc1414;
  transition: all 0.1s ease-in;
}

.cards img {
  width: 100%;
  height: 15rem;
}

.cards .card-body {
  padding-inline: 1rem;
  font-size: 14px;
}

.detail {
  padding-inline: 2rem;
}

.detail h2 {
  text-align: left;
  padding-bottom: 0;
}

.detail h3 {
  text-align: center;
  padding-top: 1rem;
}

.detail-restaurant {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.detail-info {
  padding-top: 3rem;
  text-align: justify;
}

.detail-listMenu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.detail-listItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 7rem;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
}

.detail-listItem:hover {
  background-color: #dc1414;
  transition: all 0.1s ease-in-out;
}

.detail-listItem i {
  font-size: 30px;
}

.detail-review {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-inline: 10rem;
  margin-bottom: 2rem;
}

.detail-customer {
  background-color: #F3F3F3;
  border: 1px solid;
  border-radius: 5px;
  width: 25rem;
  padding-inline: 1rem;
}

h3.ulasan-form {
  text-align: center;
}

form.ulasan-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form-element {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 80%;
}

.form-element:last-child {
  margin-bottom: 2rem;
}

input,
textarea {
  padding-inline: 0.5rem;
  font-family: 'Mooli', sans-serif;
}

input {
  height: 3rem;
}

textarea {
  resize: none;
  height: 5rem;
  padding-block: 0.5rem;
}

button#submit-ulasan {
  height: 3rem;
  font-family: 'Mooli', sans-serif;
  cursor: pointer;
  background-color: #727272;
  border: 0;
  border-radius: 5px;
}

button#submit-ulasan:hover {
  background-color:#dc1414;
  transition: all 0.1s ease-in-out;
}

.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  border: 0;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.loading-indicator {
  display: flex;
  justify-content: center;
  padding: 5rem;
}

.error-message {
  display: none;
  justify-content: center;
  padding: 2rem;
}

my-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dc1414;
  color: #fff;
  height: 6rem;
}

.swal-button {
  background-color: rgb(255, 151, 0);
  color: #fff;
}

.swal-button:not([disabled]):hover {
  background-color: #dc1414;
  color: #000;
}
